body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px 40px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.field {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #0078ff;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #005fcc;
}

.edit {
  background: #ffaa00;
  color: white;
  margin-top: 5px;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete {
  background: #ff4444;
  color: white;
  margin-top: 5px;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.edit:hover {
  background: #cc8800;
}

.delete:hover {
  background: #cc0000;
}

#list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #eee;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}
